<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

<div style="margin-bottom: 20px; margin-top: 5px;">
  <p class="title">SAR's Catalog</p>
</div>

<mat-card>
  <mat-card-header fxLayout="row" fxLayout.xs="column">
    <div fxFlex="50" fxFlex.xs="100" fxLayout="column" fxLayoutAlign="center start" fxLayoutAlign.xs="center center">
      <mat-card-title>SAR's List</mat-card-title>
    </div>
    <div fxFlex="50" fxFlex.xs="100" fxLayoutAlign="end center" fxLayoutAlign.xs="center center" style="margin-bottom: 15px;">
      <button class="button-clear" pButton label="Clear" type="button" icon="pi pi-filter-slash" iconPos="left" (click)="clear(dt1)"></button>
      <button class="button button-nuevo" mat-raised-button (click)="openAddSarDialog()">Add SAR</button>            
    </div>                
  </mat-card-header>

  <mat-card-content>
    <div>
      <p-table #dt1 [value]="filteredSars" dataKey="id_sar" responsiveLayout="scroll" [reorderableColumns]="true" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50,100]" [paginator]="true" currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords} elementos" styleClass="p-datatable-sm">
        <ng-template pTemplate="caption">
          <div class="flex">
            <span class="p-input-icon-left ml-auto">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="applyFilter($event)" placeholder="Search SAR" />       
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pReorderableColumn>Action</th>
            <th pReorderableColumn>
              <div class="flex justify-content-center align-items-center">
                ID Index
                <p-columnFilter type="text" field="id_sar" display="menu"></p-columnFilter>
              </div>
            </th>
            <th pReorderableColumn>
              <div class="flex justify-content-center align-items-center">
                Name
                <p-columnFilter type="text" field="number_sar" display="menu"></p-columnFilter>
              </div>
            </th>
            <th pReorderableColumn>
              <div class="flex justify-content-center align-items-center">
                Description
                <p-columnFilter type="text" field="description" display="menu"></p-columnFilter>
              </div>
            </th>
            <th pReorderableColumn>
              <div class="flex justify-content-center align-items-center">
                Start Date
                <p-columnFilter type="date" field="fecha_inicio" display="menu"></p-columnFilter>
              </div>
            </th>
            <th pReorderableColumn>
              <div class="flex justify-content-center align-items-center">
                End Date
                <p-columnFilter type="date" field="fecha_fin" display="menu"></p-columnFilter>
              </div>
            </th>  
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
          <tr>                           
            <td style="width:100px">
              <button *ngIf="!rowData.editing" (click)="toggleEdit(rowData, true)" mat-icon-button matTooltip="Edit"  style="color:#1D4289">
                <mat-icon>edit</mat-icon>                             
              </button>  
              <button *ngIf="rowData.editing" (click)="saveSar(rowData)" mat-icon-button matTooltip="Save"  style="color:#1D4289">
                <mat-icon>save</mat-icon>
              </button>
              <button *ngIf="!rowData.editing" (click)="deleteSars(rowData.id_sar)" mat-icon-button matTooltip="Delete"  style="color:#1D4289">
                <mat-icon>delete</mat-icon>
              </button>                                                               
            </td>                            
            <td *ngIf="!rowData.editing">{{ rowData.id_sar }}</td>
            <td *ngIf="rowData.editing">
              <input type="text" [(ngModel)]="rowData.id_sar" disabled>
            </td>
            <td *ngIf="!rowData.editing">{{ rowData.number_sar }}</td>
            <td *ngIf="rowData.editing">
              <input type="text" pInputText [(ngModel)]="rowData.number_sar">
            </td>
            <td *ngIf="!rowData.editing">{{ rowData.description }}</td>
            <td *ngIf="rowData.editing">
              <input type="text" pInputText [(ngModel)]="rowData.description">
            </td>
            <td *ngIf="!rowData.editing">{{ rowData.fecha_inicio | date }}</td>
            <td *ngIf="rowData.editing">
              <input type="date" pInputText [(ngModel)]="rowData.fecha_inicio">
            </td>
            <td *ngIf="!rowData.editing">{{ rowData.fecha_fin | date }}</td>
            <td *ngIf="rowData.editing">
              <input type="date" pInputText [(ngModel)]="rowData.fecha_fin">
            </td>                        
          </tr>
        </ng-template>
      </p-table>
    </div>
  </mat-card-content>
</mat-card>
