<ngx-spinner type="ball-scale-multiple" [fullScreen]="true" *ngIf="loading"></ngx-spinner>

<div style="margin-bottom: 20px; margin-top: 5px;">
  <p class="title">Platts Market Data</p>
</div>

<mat-card>
  <mat-card-header fxLayout="row" fxLayout.xs="column">
    <div fxFlex="50" fxFlex.xs="100" fxLayout="column" fxLayoutAlign="center start" fxLayoutAlign.xs="center center">
      <mat-card-title>Platts Prices</mat-card-title>
    </div>
    <div fxFlex="50" fxFlex.xs="100" fxLayoutAlign="end center" fxLayoutAlign.xs="center center" style="margin-bottom: 15px;">
      <button pButton type="button" icon="pi pi-refresh" mat-raised-button (click)="refreshData()" label="Refresh Data" class="button-clear"></button>
      <button pButton type="button" label="Export to CSV" (click)="exportToCSV()" class="button-clear"></button>
    </div>
  </mat-card-header>

  <mat-card-content>
    <div>
      <div fxLayout="row" fxLayoutGap="10px">
        <mat-form-field appearance="outline" fxFlex="30">
          <mat-label>Period</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate [(ngModel)]="fechaInicio" placeholder="Start date">
            <input matEndDate [(ngModel)]="fechaFin" placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
        
        <mat-form-field appearance="outline" fxFlex="20">
          <mat-label>Bate</mat-label>
          <mat-select [(ngModel)]="bate" (selectionChange)="filterByBate()">
            <mat-option *ngFor="let letter of bateOptions" [value]="letter">{{ letter.toUpperCase() }}</mat-option>
          </mat-select>
        </mat-form-field>
        
        
        <mat-form-field appearance="outline" fxFlex="20">
          <mat-label>Symbols</mat-label>
          <mat-select [(ngModel)]="selectedSymbols" multiple (openedChange)="onSelectOpen($event)">
            <mat-select-trigger>
              {{selectedSymbols.length}} selected
            </mat-select-trigger>
            <div class="search-container">
              <input matInput #searchInput placeholder="Search symbols" [formControl]="symbolSearchCtrl">
            </div>
            <mat-option *ngFor="let symbol of filteredSymbols | async" [value]="symbol.index_symbol_P">
              {{ symbol.index_name }}
            </mat-option>
            <mat-divider></mat-divider>
            <mat-option class="add-new-index-option" (click)="openAddDialog()">
              <mat-icon class="add-icon">add_circle</mat-icon>
              <span class="add-text">Add New Index</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>


<button pButton type="button" mat-raised-button label="Save Edits"
[disabled]="!isEdited"
(click)="saveEdits()"
[ngClass]="{'save-button': isEdited}" 
style="margin-bottom: 15px;">
</button>


      <!-- Table with editable "Custom" and "NBP" columns -->
      <p-table #dt1 [value]="filteredData" dataKey="Date" responsiveLayout="scroll" [reorderableColumns]="true" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50, 100]" [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" styleClass="p-datatable-sm alternating-rows" [globalFilterFields]="['Date']">
        <ng-template pTemplate="caption">
          <div class="flex">
            <span class="p-input-icon-left ml-auto">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="applyFilter($event)" placeholder="Search data" />
            </span>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th *ngFor="let col of columns">{{ col }}</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData>
          <tr>
            <td *ngFor="let col of columns">
              <!-- Regular, non-editable columns -->
              <div *ngIf="col !== 'Custom' && col !== 'NBP' && !isNegColumn(col)">
                {{ rowData[col] || '-' }}
              </div>
        
              <!-- Editable Neg symbol columns -->
<div *ngIf="isNegColumn(col)" class="editable-field">
  <input matInput [(ngModel)]="rowData[col]" (ngModelChange)="onEditChange(rowData, col, $event)" placeholder="Custom value">
</div>


            </td>
          </tr>
        </ng-template>
        

        <ng-template pTemplate="emptymessage">
          <tr>
            <td [attr.colspan]="columns.length">No data found.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </mat-card-content>
</mat-card>