<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

<div style="margin-bottom: 20px; margin-top: 5px;">
  <p class="title">Index's Catalog</p>
</div>

<mat-card>
  <mat-card-header fxLayout="row" fxLayout.xs="column">
    <div fxFlex="50" fxFlex.xs="100" fxLayout="column" fxLayoutAlign="center start" fxLayoutAlign.xs="center center">
      <mat-card-title>Index's List</mat-card-title>
    </div>
    <div fxFlex="50" fxFlex.xs="100" fxLayoutAlign="end center" fxLayoutAlign.xs="center center" style="margin-bottom: 15px;">
      <button class="button-clear" pButton label="Clear" type="button" icon="pi pi-filter-slash" iconPos="left" (click)="clear(dt1)"></button>
      <button pButton type="button" icon="pi pi-plus" mat-raised-button (click)="openAddDialog()" label="Add Index" class="button-nuevo"></button>
    </div>
  </mat-card-header>

  <mat-card-content>
    <div>
      <p-table #dt1 [value]="filteredIndex" dataKey="id_index" responsiveLayout="scroll" [reorderableColumns]="true" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50,100]" [paginator]="true" currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords} elementos" styleClass="p-datatable-sm" [globalFilterFields]="['index_name', 'index_symbol_P', 'index_symbol_B']">

        <ng-template pTemplate="caption">
          <div class="flex">
            <span class="p-input-icon-left ml-auto">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="applyFilter($event)" placeholder="Search Index" />
            </span>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th>Action</th>
            <th>
              <div class="flex justify-content-center align-items-center">
                ID Index
                <p-columnFilter type="text" field="id_index" display="menu"></p-columnFilter>
              </div>
            </th>
            <th>
              <div class="flex justify-content-center align-items-center">
                Index
                <p-columnFilter type="text" field="Index" display="menu"></p-columnFilter>
              </div>
            </th>
            <th>
              <div class="flex justify-content-center align-items-center">
                Ticker Platts
                <p-columnFilter type="text" field="Ticker Platts" display="menu"></p-columnFilter>
              </div>
            </th>
            <th>
              <div class="flex justify-content-center align-items-center">
                Ticker Bloomberg
                <p-columnFilter type="text" field="Ticker Bloomberg" display="menu"></p-columnFilter>
              </div>
            </th>
            <th>
              <div class="flex justify-content-center align-items-center">
                Ticker Neg
                <p-columnFilter type="text" field="Ticker Neg" display="menu"></p-columnFilter>
              </div>
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData>
          <tr>
            <td style="width:100px">
              <button *ngIf="!rowData.editing" (click)="toggleEdit(rowData, true)" mat-icon-button matTooltip="Edit" style="color:#1D4289">
                <mat-icon>edit</mat-icon>
              </button>
              <button *ngIf="rowData.editing" (click)="saveIndex(rowData)" mat-icon-button matTooltip="Save" style="color:#1D4289">
                <mat-icon>save</mat-icon>
              </button>
              <button *ngIf="!rowData.editing" (click)="deleteIndex(rowData.id_index)" mat-icon-button matTooltip="Delete" style="color:#1D4289">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
            <td *ngIf="!rowData.editing">{{ rowData.id_index }}</td>
            <td *ngIf="rowData.editing">
              <input type="text" [(ngModel)]="rowData.id_index" disabled>
            </td>
            <td *ngIf="!rowData.editing">{{ rowData.index_name }}</td>
            <td *ngIf="rowData.editing">
              <input type="text" pInputText [(ngModel)]="rowData.index_name">
            </td>
            <td *ngIf="!rowData.editing">{{ rowData.index_symbol_P }}</td>
            <td *ngIf="rowData.editing">
              <input type="text" pInputText [(ngModel)]="rowData.index_symbol_P">
            </td>
            <td *ngIf="!rowData.editing">{{ rowData.index_symbol_B }}</td>
            <td *ngIf="rowData.editing">
              <input type="text" pInputText [(ngModel)]="rowData.index_symbol_B">
            </td>
            <td *ngIf="!rowData.editing">{{ rowData.index_symbol_Neg }}</td>
            <td *ngIf="rowData.editing">
              <input type="text" pInputText [(ngModel)]="rowData.index_symbol_Neg">
            </td>
          </tr>
        </ng-template>        

        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6">No Index's found.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </mat-card-content>
</mat-card>
