.title{ 
    font-size: 24px;
    font-weight: 500;
}

.div-table {
    margin-top: 20px;
}


mat-cell, mat-footer-cell, mat-header-cell{
	text-align: center !important;
	justify-content: center !important;
	overflow: inherit !important; 
	display: flex !important;
	word-break: inherit !important;		
    width: 100%;  
}
mat-header-cell{
	justify-content: center !important;
	text-overflow: ellipsis !important;
}

mat-row, mat-header-row, mat-footer-row {
  width: 100%;
}

td, th {
    text-align: center !important;
}

p-cellEditor {
    cursor: pointer;
}

.button-nuevo,
.button-cancel,
.button-save,
.button-clear {
    color: white;
    min-height: 40px;
    min-width: 100px;
    margin-left: 10px;
    transition: background-color 0.3s;
    //padding: 10px 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.button-cancel {
    background-color: red !important;
}

.button-clear {
    background-color: #02109C !important;
}

.button-save, .button-nuevo {
    background-color: #00843b !important;
}

.button-nuevo:hover,
.button-save:hover {
    background-color: darkgreen !important;
}

.button-cancel:hover{
    background-color: darkred !important;
}

.button-clear:hover {
    background-color: rgb(0, 0, 125) !important;
}

.mat-icon:hover {
    cursor: pointer;
    color: rgb(0, 0, 54) !important;
}
