<!-- <ngx-spinner type="ball-scale-multiple"></ngx-spinner> -->

<mat-dialog-content>

    <div *ngIf="variable == 'New'">
        <h2 mat-dialog-title>Dialog with elements</h2>
        Estoy en:
        {{ variable }}
    </div>

    <div *ngIf="variable == 'Edit'">
        <h2 mat-dialog-title>Dialog with elements</h2>
        Estoy en:
        {{ variable }}
    </div>

    <div *ngIf="variable == 'Delete'">
        Estoy en:
        {{ variable }}
    </div>

    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button (click)="aceptar()" cdkFocusInitial>Install</button>
    </mat-dialog-actions>


</mat-dialog-content>