
.button-nuevo {
    background-color:#00843b !important;
    color:white;
    min-height: 40px;
    min-width: 85px;
    margin-left: 10px;
}

.button-clear {
    min-height: 35px;
    background-color: #02109C !important;
    color:white;
}


.title{ 
    font-size: 24px;
    font-weight: 500;
}

p-cellEditor {
    cursor: pointer;
}

.mat-dialog-content { 
    overflow: hidden;
}