<!-- <ngx-spinner type="ball-scale-multiple"></ngx-spinner> -->


<div *ngIf="variable == 'New'">
    <div style="margin-bottom: 20px; margin-top: 5px;">
        <p class="title">Editar</p>
    </div>    
</div>

<div *ngIf="variable == 'Edit'">
    <div style="margin-bottom: 20px; margin-top: 5px;">
        <p class="title">Editar</p>
    </div>    
</div>

<div *ngIf="variable == 'Delete'">
    <div style="margin-bottom: 20px; margin-top: 5px;">
        <p class="title">Editar</p>
    </div>
</div>
