.title{ 
    font-size: 24px;
    font-weight: 500;
}
.button-create-list {
    background-color:#00843b !important;
}
.div-table {
    margin-top: 20px;
}
.buttons {
    margin-bottom: 10px;
    width: 160px;
    height: 45px;
}

.btn-back {
    background-color: rgb(136, 2, 2) !important;
}

.space-cards-plants{
    margin-top: 10px;
    margin-bottom: 10px;
}