<h1 mat-dialog-title>Add {{ data.title }}</h1>
<div mat-dialog-content>
  <form [formGroup]="dialogForm">
    <ng-container *ngFor="let field of data.fields">
      <ng-container [ngSwitch]="field.type">
        
        <!-- Dropdown for Index Name -->
        <mat-form-field *ngSwitchCase="'dropdown'">
          <mat-label>{{ field.label }}</mat-label>
          <mat-select formControlName="{{ field.name }}">
            <mat-option *ngFor="let option of field.options" [value]="option.value">
              {{ option.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Date Picker -->
        <mat-form-field *ngSwitchCase="'date'">
          <mat-label>{{ field.label }}</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="{{ field.name }}">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <!-- Regular Input (Text or Number) -->
        <mat-form-field *ngSwitchDefault>
          <mat-label>{{ field.label }}</mat-label>
          <input matInput formControlName="{{ field.name }}" [type]="field.type || 'text'" />
        </mat-form-field>
        
      </ng-container>
    </ng-container>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button [mat-dialog-close]="dialogForm.value" [disabled]="!dialogForm.valid">Add</button>
</div>
