<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

<div style="margin-bottom: 20px; margin-top: 5px;">
	<p class="title">Catalogo de Bancos</p>
</div>

<mat-card>
    <mat-card-header fxLayout="row" fxLayout.xs="column">
        <div fxFlex="50" fxFlex.xs="100" fxLayout="column" fxLayoutAlign="center start" fxLayoutAlign.xs="center center">
            <mat-card-title>Lista de Bancos</mat-card-title>
        </div>
        <div fxFlex="50" fxFlex.xs="100" fxLayoutAlign="end center" fxLayoutAlign.xs="center center" style="margin-bottom: 15px;">
            <button class="button-clear" pButton label="Clear" type="button" icon="pi pi-filter-slash" iconPos="left" (click)="clear(dt1)"></button>
            <button class="button button-nuevo" mat-raised-button (click)="openAddBankDialog()">Agregar Banco</button>            
        </div>                
    </mat-card-header>

    <mat-card-content>
        <div>           
            <p-table #dt1 [value]="products" responsiveLayout="scroll" [reorderableColumns]="true" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50,100]" [paginator]="true" currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords} elementos" styleClass="p-datatable-sm">           

                <ng-template pTemplate="header">                        
                    <tr>                            
                        <th pReorderableColumn>Action</th>
                        <th pReorderableColumn>ID Banco</th>
                        <th pReorderableColumn>Nombre</th>   
                        <th pReorderableColumn>CSA</th>
                        <th pReorderableColumn>Threshold</th>
                        <th pReorderableColumn>Unit</th>                      
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData>
                    <tr>                           
                        <td style="width:100px">
                            <button *ngIf="!rowData.editing" (click)="toggleEdit(rowData, true)" mat-icon-button matTooltip="Editar" style="color:#1D4289">
                                <mat-icon>edit</mat-icon>                             
                            </button>  
                            <button *ngIf="rowData.editing" (click)="saveBank(rowData)" mat-icon-button matTooltip="Save">
                                <mat-icon>save</mat-icon>
                            </button>
                            <button *ngIf="!rowData.editing" (click)="deleteBank(rowData.id_bank)" mat-icon-button matTooltip="Eliminar" style="color:#1D4289">
                                <mat-icon>delete</mat-icon>
                            </button>                                                               
                        </td>                            
                        <td *ngIf="!rowData.editing">{{ rowData.id_bank }}</td>
                        <td *ngIf="rowData.editing">
                            <input type="text" [(ngModel)]="rowData.id_bank" disabled>
                        </td>
                        <td *ngIf="!rowData.editing">{{ rowData.bank }}</td>
                        <td *ngIf="rowData.editing">
                            <input type="text" pInputText [(ngModel)]="rowData.bank">
                        </td>
                        <td *ngIf="!rowData.editing">{{ rowData.csa }}</td>
                        <td *ngIf="rowData.editing">
                            <input type="text" pInputText [(ngModel)]="rowData.csa">
                        </td>
                        <td *ngIf="!rowData.editing">{{ rowData.threshold }}</td>
                        <td *ngIf="rowData.editing">
                            <input type="text" pInputText [(ngModel)]="rowData.threshold">
                        </td>
                        <td >MDlls</td>                         
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </mat-card-content>
</mat-card>
