<div>
    <div class="client-info">
      <p-table [value]="[client]" dataKey="id_client" editMode="row" class="full-width-table">
        <ng-template pTemplate="header">
          <tr>
            <th>Actions</th>
            <th>ID</th>
            <th>Client</th>
            <th>Holding</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-client let-editing="editing">
          <tr [pEditableRow]="client">
            <td>
                <div class="flex align-items-center justify-content-center gap-2">
                  <button *ngIf="!editing" mat-icon-button matTooltip="Editar" style="color:#1D4289" (click)="onRowEditInit(client)">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button *ngIf="editing" mat-icon-button matTooltip="Save" (click)="onRowEditSave(client)">
                    <mat-icon>save</mat-icon>
                  </button>
                  <button *ngIf="editing" mat-icon-button matTooltip="Cancel" (click)="onRowEditCancel(client)">
                    <mat-icon>cancel</mat-icon>
                  </button>
                </div>
              </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="client.id_client" disabled />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ client.id_client }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="client.client" />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ client.client }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="client.holding" />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ client.holding }}
                </ng-template>
              </p-cellEditor>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  
    <h2></h2>
    <h2>Plants</h2>
    <div class="plants-actions">
      <button pButton type="button" label="Add Plant" icon="pi pi-plus" (click)="addPlant()" class = "button-nuevo"></button>
    </div>
    <p-table [value]="plants" dataKey="id_plant" editMode="row" class="full-width-table">
      <ng-template pTemplate="header">
        <tr>
          <th>Actions</th>
          <th>Name</th>
          <th>Start Date</th>
          <th>End Date</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-plant let-editing="editing">
        <tr [pEditableRow]="plant">
            <td>
                <div class="flex align-items-center justify-content-center gap-2">
                  <button *ngIf="!editing" mat-icon-button matTooltip="Editar" style="color:#1D4289" (click)="onRowEditInit(plant)">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button *ngIf="editing" mat-icon-button matTooltip="Save" (click)="onRowEditSave(plant)">
                    <mat-icon>save</mat-icon>
                  </button>
                  <button *ngIf="editing" mat-icon-button matTooltip="Cancel" (click)="onRowEditCancel(plant)">
                    <mat-icon>cancel</mat-icon>
                  </button>
                  <button mat-icon-button matTooltip="Eliminar" style="color:#1D4289" (click)="deletePlant(plant)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="plant.name_plant" required />
              </ng-template>
              <ng-template pTemplate="output">
                {{ plant.name_plant }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="date" [(ngModel)]="plant.inicio_contrato" required />
              </ng-template>
              <ng-template pTemplate="output">
                {{ plant.inicio_contrato | date }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="date" [(ngModel)]="plant.fin_contrato" required />
              </ng-template>
              <ng-template pTemplate="output">
                {{ plant.fin_contrato | date }}
              </ng-template>
            </p-cellEditor>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  