mat-sidenav {
    width: 230px;
    padding: 15px;
}
.mat-nav-list .mat-list-item{
    color: white !important;
}

.mat-panel-title {
    color: white !important;
}

.mat-expansion-panel-header-title {
    color: white !important;
}

.title {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.mat-drawer { 
    background-color: #02109C;
    color: #fff;
    max-width: auto;
}

.neg-logo {
    min-width: 130px;
    height: auto;   
    margin-bottom: 10px; 
}

.main-content {
    padding: 20px;    
}

.mat-toolbar-style {
    background-color: #fff;
}

.btn-space {
    margin-right: 7px;
    margin-left: 5px;
    color: #fff;
    justify-content: center;
    display: flex;
    align-items: center;
}  

.mat-nav-list a.active {
    background: #26319e;
}

.style-links, .mat-expansion-panel-header {
    color: #fff !important;  
}

.shadow {
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}

.mat-expansion-panel, .mat-expansion-panel-header {
    background: transparent !important;  
    border: none !important;            
    box-shadow: none !important;        
    align-items: center;
    color: #fff !important;                
}
.mat-expansion-panel-header{
    padding: 0 16px !important; 

}

.mat-expansion-panel-header.mat-expanded, 
.mat-expansion-panel-header:hover,
.mat-expansion-panel-header:focus {
    background: #02109C !important; 
    color: #fff !important;        
}

.mat-expansion-panel-header.mat-expanded {
    height: 48px !important; 
}
.mat-expansion-indicator{
    color: #fff !important;  

}

.mat-icon {
    color: #fff;            
    vertical-align: middle;   
    margin-right: 5px;
}
.mat-expansion-panel-header-description, .mat-expansion-indicator::after {
    color: #fff; 
}